@(registerForm: Form[forms.SignupData])(implicit flash: Flash, messages: Messages)

@main("Register!"){

  @helper.form(action = routes.SignupController.createUser()) {
    @helper.inputText(registerForm("username"))
    @helper.inputText(registerForm("firstName"), '_label -> Messages("register.user.real"))
    @helper.inputText(registerForm("lastName"))
    @helper.inputText(registerForm("email"))
    @helper.inputPassword(registerForm("password"))

       <div class="buttons">
           <button type="submit">@Messages("register.user.submit")</button>
       </div>
   }
}