@(registerForm: Form[forms.SignupData])(implicit flash: Flash, messages: Messages)

@import helper._

@main(Messages("register.new")) {

  @helper.form(action = routes.SignupController.createUser()) {
    @helper.inputText(registerForm("userName"))
    @helper.inputText(registerForm("firstName"), '_label -> Messages("register.user.real"))
    @helper.inputText(registerForm("lastName"))
    @helper.inputText(registerForm("email"))
    @helper.inputPassword(registerForm("password"))

       <div class="buttons">
           <input type="submit" class="btn primary" value='@Messages("register.user.submit")'/>
       </div>
   }
}